<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>Hola mundo <%= title %></h2>

    <h2>TING</h2>
    <p>Welcome to ULPGC</p>

    <h3> Soy el alumno </h3>
    <p> Fran y juan </p>
  
    <h3> de apellido </h3>
    <p> Felipe </p>
    
    
  </body>
</html>